  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Development Resources</title>

<section class="section">
  <div class="container has-text-centered">
    <h1 class="title is-1">Learning is a process!</h1>
    <p class="title is-2">Discover your journey!</p>
  </div>
</section>

<body>
<div class="tabs is-toggle is-fullwidth">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
        <span>Search</span>
      </a>
    </li>
    <li>
      <a href="/api/book" id="openBooksTab">
        <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
        <span>Books</span>
      </a>
    </li>
  <li>
      <a>
        <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
        <span>Documentations</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
        <span>Tutorials</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
        <span>Your Resources</span>
      </a>
    </li>
    <li>
        <a href="#" id="openAboutModal">
        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
        <span>About Us</span>
      </a>
    </li>
    <li>
      <a href="#" id="openContactmodal">
        <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
        <span>Contact Us</span>
      </a>
    </li>

    <a href="#" id="logout">
     Log out

    </a>
  </li>
  </ul>
  </div>
  <div class="book-container has-text-centered">
    <!-- Dynamically load book content here -->
  </div>
  
            
</div>  
<!-- JavaScript files -->
<script src="public/js/book.js"></script>
<script src="/public/js/documentation.js"></script>
<script src="/public/js/modals.js"></script>

</body>
</html>
