<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Your Dashboard</title>
</head>
<body>
  <header class="card-header">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="/public/images/header-1.jpg" alt="Header Image"/>
      </figure>
    </div>
  </header>
  
  <section class="section">
    <div class="container has-text-centered">
      <h1 class="title is-1">This is your Resources Dashboard</h1>
      <p class="title is-2">Discover different resources and create your own collection!</p>
    </div>
  </section>

  <div class="tabs is-toggle is-fullwidth">
    <ul>
      <li class="is-active">
        <a>
          <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
          <span>Search</span>
        </a>
      </li>
      <li>
        <a href="/book" id="openBooksTab">
          <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
          <span>Documentations</span>
        </a>
      </li>
      {{!-- <li>
        <a href="/documentation" id="openDocTab">
          <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
          <span>Documentations</span>
        </a>
      </li> --}}
      {{!-- <li>
        <a>
          <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
          <span>Tutorials</span>
        </a>
      </li> --}}
      <li>
        <a href="/resource" id="openResourceTab">
          <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
          <span>Your Resources</span>
        </a>
      </li>
      <li>
          <a href="#aboutModal" id="openAboutModal">
          <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
          <span>About Us</span>
        </a>
      </li>
      <li>
        <a href="#contactModal" id="openContactmodal" >
          <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
          <span>Contact Us</span>
        </a>
      </li>
  
      <a href="#" id="logout">
       Log out
  
      </a>
    </li>
  
    </ul>
  </div>

  <!-- about modal -->
  <div class="modal" id="aboutModal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">

        Welcome to the Programming Resources Library, your hub for all things coding and development! 
        We are passionate about empowering individuals on their journey to becoming proficient developers. 
        Whether you're a beginner looking to learn the fundamentals or an experienced developer seeking to enhance your skills, 
        our comprehensive collection of coding resources has you covered. From tutorials and guides to reference materials and coding challenges, 
        we offer a diverse range of resources to cater to different learning styles. 
        Our mission is to provide you with the tools and knowledge you need to succeed in the ever-evolving world of programming. 
        Join our community and unlock a world of coding possibilities!
    </div>
    <button class="modal-close is-large" aria-label="close" id="closeAboutModal">Close</button>
  </div>
  </div>
  <!-- Contact Form Modal -->
  <div class="modal" id="contactModal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <button class="delete" aria-label="close" id="closeModal"></button>       
        <h2 class="title is-4">Contact Us</h2>
        <form>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input" type="text" placeholder="Your Name">
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email" placeholder="Your Email">
            </div>
          </div>
          <div class="field">
            <label class="label">Message</label>
            <div class="control">
              <textarea class="textarea" placeholder="Your Message"></textarea>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" type="submit">Submit</button>
            </div>
            <div class="control">
              <button class="button is-link is-light" id="closeModal">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" id="closeModal" data-close-modal>Close</button>
  </div>
  
  <!-- JavaScript files -->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="/public/js/documentation.js"></script>
  <script src="/public/js/book.js"></script>
  <script src="/public/js/modals.js"></script>
  <script src="/public/js/logout.js"></script>

</body>
</html>
