<body>
   <div class="navbar">
  <a href="/books">View books</a>
  <button class="logout" id="logout"> Logout </button>
  <Br></Br>
  <span class="title">Library Homepage</span>
 <div class="View-Dashboard">
            <h1>Welcome to the best library known to earth!!</h1>

        </div>
  </body>
<script src="./js/logout.js"> </script>

 