<body>
   <div class="navbar">
  <a href="/api/books">View books</a>
  <a href="/api/Login">Login</a>
  <Br></Br>
  <span class="title">Library Homepage</span>
 <div class="View-Dashboard">
            <h1>Welcome to the best library known to earth!!</h1>

        </div>
  </body>

  
 