<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
<title>Sign Up</title>

<body>
  <header class="hero is-link is-flex is-align-items-right">
    <img src="/public/images/header-1.jpg" alt="Login image">

    <div class="hero-body">
      <div class="container has-text-centered">

        <h3 class="title is-3 is-justified ">Welcome to the Coding Resources Library!
          <p>This is a place where you can find all the resources you need to learn to code.</p>
          <p>We have tutorials, articles, videos, and more.</p>
          <p>So whether you're a beginner or a seasoned pro, we have something for you.</p>
          <p>Sign up to get started!</p>
        </h3>
      </div>
    </div>
  </header><br>

  <div class="signup-form ">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
        </div>
        <div class="column is-half">
          <div>
            <div>
              <h2 class="has-text-link title is-2 has-text-centered">Sign Up to get started!</h2>
            </div>
            <!-- <p>Please enter your information to get started.</p><br> -->
            <br>
            <!--    <form action="/api/user/" method="post">  -->
            <form id="signup-form">
              <!-- First name Input -->
              <div>
                <input class="input is-rounded" type="text" id="first-name" name="userName"
                  placeholder="Your Full Name"> <br> <br>
              </div>
              <!-- Last name Input -->
              <div>
                <input class="input is-rounded" type="text" id="last-name" name="userName" placeholder="Your Full Name">
                <br> <br>
              </div>
              <!-- Email Input -->
              <div class="control has-icons-left">
                <!-- <label for="email-signup">E-mail:</label> -->
                <div class="control has-icons-left">
                  <input class="input is-rounded" type="text" id="email-signup" name="userEmail"
                    placeholder="Your E-mail"> <br> <br>
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              <!-- Password Input -->
              <div class=" control has-icons-left">
                <!-- <label for="password-signup">Password:</label> -->
                <div class="control has-icons-left">
                  <input class="input is-rounded" type="password" id="password-signup" name="userPassword"
                    placeholder="Create a Password"> <br> <br>
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock">
                  </span>
                </div>
              </div><br>
              <!-- Submit button -->
              <button class="button is-rounded is-link" type="submit">Sign Up</button>
              <br>
              {{#if message}} <h4>{{message}} </h4>
              {{/if}}

            </form>
          </div>
          <p>Already have an account? <a href="/login">Log in here</a></p>
        </div>
      </div>
      <script src="/js/signup.js"></script>

</body>

</html>